.item {
  max-width: 150rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0.5rem;
  border-bottom: 0.1rem solid #999;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.title {
  font-weight: 700;
}
