#root {
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.title {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f0f0;
  border-radius: 0.51rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}

form > label {
  margin-bottom: 1rem;
}

form > label > input {
  border: 0.5px solid transparent;
  border-radius: 2px;
  padding: 0.2rem;
}

form > button {
  width: 100%;
  border-radius: 0.2rem;
  background: #6d2bd6;
  color: aliceblue;
  border: transparent;
  padding: 0.5rem 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.773) 0.3rem 3px 0.4rem;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

form > button:active {
  transform: translate(2px, 2px);
  transition: all 0.1s ease-out;
}

form > button:disabled {
  background: #4a494d;
  color: rgb(205, 209, 213);
  transform: none;
}

.upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid #9999997c;
  padding: 0.5rem 0;
}

.upload > h5 {
  align-self: normal;
}

h5 {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 0.6rem;
}

.inputContainer {
  height: 3rem;
}

.easyLevel {
  color: rgb(238, 58, 8);
}

.normalLevel {
  color: rgb(34, 0, 128);
}

.hardLevel {
  color: rgb(0, 128, 0);
}

.containerPasswordLevel {
  position: absolute;
  right: -3.5rem;
  top: 0;
  font-weight: 700;
}
